flask
requests
gunicorn
openai
fastapi
pydantic
python-dotenv
uvicorn
loguru
tiktoken
starlette
anyio
httpx
httpcore
sniffio
tqdm
typing-extensions
certifi
charset-normalizer
click
distro
h11
idna
itsdangerous
jinja2
packaging
MarkupSafe
Werkzeug
